header {
    background-color: #333;
    color: antiquewhite;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 18px;
    padding-block: 8px;
    gap: 4rem;
}

a{
    color: antiquewhite;
    text-decoration: none;
    margin: 1.5rem 1.5rem 0 0
}
nav.a:hover {
    color: aquamarine;
    text-decoration: none;
}